{% extends 'base.no-nav.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
	<main class="w-50 m-auto">
		{% if error %}
			<div class="alert alert-danger" role="alert">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}
		{% for flash_success in app.flashes('success') %}
			<div class="alert alert-success" role="alert">{{ flash_success }}</div>
		{% endfor %}
		<form action="{{ path('app_login') }}" method="post">
			<h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>

			<div class="form-floating">
				<input type="email" class="form-control" id="username" placeholder="name@example.com" name="_username" value="{{ last_username }}">
				<label for="username">Email address</label>
			</div>
			<div class="form-floating">
				<input type="password" class="form-control" id="password" name="_password" placeholder="Password">
				<label for="password">Password</label>
			</div>

			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" name="_remember_me" checked>
					Remember me
				</label>
			</div>
			<div class="checkbox mb-3">
				<a href={{path('app_forgot_password_request')}}>
					Forgot your password?
				</a>
			</div>
			<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<p class="mt-5 mb-3 text-muted text-center">&copy; 2022</p>
		</form>
	</main>
{% endblock %}
